.error-field {
    -fx-background-color: #f28888 !important;
}
.mfx-combo-box .virtual-flow .label {
    -fx-text-fill: #6200ee;
    -fx-font-weight: bold;
    -fx-padding: 8px 12px;
}
.mfx-combo-box .mfx-combo-box-cell {
    -fx-text-fill: #3700b3;
    -fx-font-weight: bold;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.health-bar {
    -fx-accent: #ff6f8a;   /* saturated pink */
}

.home-bar {
    -fx-accent: #5fcf47;   /* saturated green */
}

.leisure-bar {
    -fx-accent: #f89a2d;   /* saturated orange */
}

.shopping-bar {
    -fx-accent: #a148d8;   /* saturated purple */
}

.transport-bar {
    -fx-accent: #2f46c1;   /* saturated blue */
}

.other-bar {
    -fx-accent: #6787ff;   /* saturated periwinkle */
}
